/* FONTS */
@font-face { font-family: 'Satoshi-Regular'; font-weight: 400; font-style: normal; font-display: swap; src: url('../fonts/Satoshi-Regular.woff2') format('woff2'), url('../fonts/Satoshi-Regular.woff') format('woff'), url('../fonts/Satoshi-Regular.ttf') format('truetype') }
@font-face { font-family: 'Satoshi-Bold';    font-weight: 700; font-style: normal; font-display: swap; src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),    url('../fonts/Satoshi-Bold.woff') format('woff'),    url('../fonts/Satoshi-Bold.ttf') format('truetype') }
body       { font-weight: 400; font-family: 'Satoshi-Regular' }
h1         { font-weight: 700; font-family: 'Satoshi-Bold' }

/* COLORS */
body { background-color: #fdfafa }
:root {--bs-border-color: #f1e5b9}
mark { background-color: rgba(255, 220, 10, 0.3) }

/* UNSORTED */
body { padding-bottom: env(safe-area-inset-bottom); }
@media (min-width: 1400px) { .container-lg {max-width: 960px} }
@media (min-width: 1200px) { .container-lg {max-width: 960px} }
p { font-size: 1.2rem; margin-bottom: 1.45rem; line-height: 1.7rem }
article p:last-child { margin-bottom: 0;}
h2 a { text-decoration: none }
h1 { line-height: 2.4rem }
article { text-align: left}
.asciicast { margin-top: 0 !important;}